@using LogicaNegocio
@model IEnumerable<Pago>

<div class="d-flex flex-column gap-2 p-2">
    @{
        <h1>
            @(Context.Session.GetString("Rol") == Rol.GERENTE.ToString() ? "Pagos" : "Mis pagos mensuales")
        </h1>
    }
    @if (TempData["Mensaje"] != null)
    {
        <span class="alert alert-info text-center">@TempData["Mensaje"]</span>
    }
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-dark table-hover">
            <thead>
            @if (Context.Session.GetString("Rol") == Rol.GERENTE.ToString())
            {
                <tr>
                    <td colspan="4">
                        <form action="/Pago/FiltrarPorFecha" class="d-flex justify-content-end align-items-center gap-2">
                            <div class="form-label m-0">
                                <input type="date" name="Fecha" class="form-control " required/>
                            </div>
                            <input type="submit" value="Filtrar" class="btn btn-primary"/>
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Usuario</th>
                <th>Costo</th>
            </tr>
            </thead>
            <tbody>
            @foreach (Pago pago in Model)
            {
                <tr>
                    <td>@pago.Id</td>
                    <td>@pago.Descripcion</td>
                    <td>@pago.Usuario.Email</td>
                    <td>$@pago.CostoMostrar</td>
                </tr>
            }
            </tbody>
        </table>
        <a href="~/Pago/AgregarPago"><input type="button" value="Cargar Pago" class="btn btn-primary"/> </a>
    }
    else
    {
        <span class="alert alert-info text-center mt-2">No existen pagos para la fecha seleccionada...</span>
    }
</div>

